:root {
  --fuente-titulos: "Raleway", sans-serif;
  --fuente-texto: "Quicksand", sans-serif;
  --blue-metalic: #3D5A80;
  --color-texto: #313948;
  --orange: #EE6C4D;
  --blue-soft: #97c0d8;
  --placeholder-weight: 500;
  --labels-weigth: 700;
  --subtitulo-weight: 700;
  --linear-bg: linear-gradient(0deg, #55f1f1 0%, #97c0d8 60%, #97c0d8 100%);
  height: 100%;
  --blue-sky: #72adfa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--fuente-texto);
}

/* Hamburger menu */
.hamburger {
  z-index: 5;
  top: 10px;
}

.navbar-menu {
  position: fixed;
  background-color: var(--blue-metalic);
  z-index: 3;
  top: 0;
  left: -100vw;
  width: 235px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-menu ul {
  display: block;
  width: 90%;
  height: 30px;
  margin: 100px auto 0;
}
.navbar-menu li {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.navbar-menu li .link {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px 8px;
  background-color: rgba(117, 127, 138, 0.3);
  color: #97c0d8;
  border-radius: 8px;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
}

.open {
  left: 0vw;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px auto 100px;
  grid-template-rows: 100px auto 100px;
  width: 100%;
  height: 100vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
  grid-template-columns: 100px 1fr;
  place-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
  background: var(--linear-bg);
}
header .logo {
  color: var(--color-texto);
  font-family: var(--fuente-titulos);
  font-size: 1em;
}
header .logo .orange {
  color: var(--orange);
}
@media (min-width: 768px) {
  header .logo {
    font-size: 1.5em;
    grid-column: 2/-1;
    height: 80px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo h1 {
    margin: 10px auto;
  }
}

/*Hero*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}
.hero .hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  background-color: #cae0f3;
  width: 80%;
  height: 300px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.hero .hero__form::before {
  content: " ";
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-metalic);
}
.hero .hero__form-label {
  font-family: var(--fuente-titulos);
  color: var(--color-texto);
  font-size: 1.2em;
  text-transform: uppercase;
}
.hero .hero__form .form__token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}
.hero .hero__form .form__token-textToken {
  width: 70%;
  margin: 20px auto 0;
  padding: 5px;
  text-align: center;
  font-family: var(--fuente-texto);
  font-size: 1em;
  color: var(--blue-metalic);
  border-radius: 5px;
  border: none;
  outline: none;
}
.hero .hero__form .form__token-textToken::-webkit-input-placeholder {
  font-size: 0.85em;
}
.hero .hero__form .form__token-textToken::-moz-placeholder {
  font-size: 0.85em;
}
.hero .hero__form .form__token-textToken:-ms-input-placeholder {
  font-size: 0.85em;
}
.hero .hero__form .form__token-textToken::-ms-input-placeholder {
  font-size: 0.85em;
}
.hero .hero__form .form__token-textToken::placeholder {
  font-size: 0.85em;
}
.hero .hero__form .form__token-textToken:focus {
  -webkit-box-shadow: 0 2px 0 0 var(--blue-metalic);
          box-shadow: 0 2px 0 0 var(--blue-metalic);
}
.hero .hero__form .form__token-textToken.filled {
  -webkit-box-shadow: 0 2px 0 0 var(--blue-sky);
          box-shadow: 0 2px 0 0 var(--blue-sky);
}
.hero .hero__form .form__token-textToken.filled-danger {
  -webkit-box-shadow: 0 3px 0 0 var(--orange);
          box-shadow: 0 3px 0 0 var(--orange);
}
.hero .hero__form .form__token-paste {
  margin: 20px auto 0;
  padding: 5px;
  background-color: white;
  color: var(--blue-metalic);
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
}
.hero .hero__form-response {
  color: var(--orange);
  text-align: center;
  width: 50%;
  margin-top: 30px;
}
.hero .hero__form-submit {
  width: 60%;
  margin: 20px auto;
  padding: 5px;
  font-family: var(--fuente-texto);
  font-size: 1em;
  border-radius: 0px 8px 0 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero .hero__form {
    width: 50%;
  }
  .hero .hero__form-label {
    font-size: 1.8em;
  }
  .hero .hero__form-submit {
    width: 50%;
  }
}

/* footer */
footer {
  grid-row: 3/-1;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  background: var(--linear-bg);
}
footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
footer > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
footer > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
footer .footer-rigth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 0.8em;
  color: var(--blue-metalic);
  font-weight: var(--placeholder-weight);
}
footer .footer-designed {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 0.8em;
  font-weight: var(--placeholder-weight);
  color: var(--blue-metalic);
  text-decoration: none;
  cursor: pointer;
}
footer .about-media {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
footer .about-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px auto;
  padding: 0;
}
footer .about-media a {
  margin: 8px 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--blue-metalic);
}
footer .about-media a:hover {
  color: var(--color-texto);
}
@media (min-width: 768px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }
  footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  footer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  footer .footer-rigth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: 1/-1;
    font-size: 1em;
  }
  footer .footer-designed {
    grid-column: 3/-1;
    grid-row: 1/-1;
    font-size: 1em;
  }
  footer .about-media {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 1/-1;
    font-size: 1.5em;
  }
}